@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=VT323&family=Vollkorn&display=swap");

body {
  margin: 0;
  font-family: "VT323", monospace, "Vollkorn", serif, "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e1dee3;
  min-height: 100vh;
  min-width: 100vh;
}
